.portfolio{
    flex: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 0rem 4rem;
}
.portfolio::-webkit-scrollbar {
    width: 0.1px;
}

.go-to-login{
    position: absolute;
    width: fit-content;
    padding: .2rem .4rem;
    top: -16%;
    left: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    font-size: 1.2rem;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 1px solid transparent;
    color: black;
    transition: all 0.2s;
    z-index: 10000;
}
.go-to-login svg{
    width: 1.4rem;
    height: 1.4rem;
}
.go-to-login:hover{
    border-bottom: 1px solid black;
}





/*------------------header-portfolio---------------------- */
.header-portfolio{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
    gap: .1rem;
    position: fixed;
    top: 14rem;
    z-index: 1000;
    padding: 1rem;
}
.header-portfolio button{
    font-size: 1.1rem;
    border: none;
    width: fit-content;
    padding: .2rem .6rem;
    background-color: white;
    transition: all 0.3s;
    border-radius: 4px;
    cursor: pointer;
}
.header-portfolio button:hover{
    background-color: #15142f;
    color: white;
}

.vertical-line{
    font-size: 2.2rem;
    margin-left: .1rem;
    font-weight: 100;
}


/*------------------.Profile-portfolio---------------------- */
.Profile-portfolio{
    width: 80%;
    gap: 12%;
    position: relative;
    height: 100vh;
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
}
.intro-portfolio{
    width: 28%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1rem;
}
.intro-portfolio div{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.intro-portfolio div span:first-child{
    color: #ff6355;
    font-size: 1.4rem;
}
.intro-portfolio div span:last-child{
    color: #9e3dff;
    font-size: 1.6rem;
}
.intro-portfolio p{
    font-size: 1.6rem;
    line-height: 1.8;
}
.intro-portfolio p span{
    border: 2px solid #fb6635;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
}
.intro-portfolio hr{
    margin: 1rem 0rem;
    width: 100%;
    color: #004225;
}
.contact-me{
    padding: 1rem;
    border: none;
    background-color: #1a1a1a;
    color: white;
    font-size: 1rem;
    margin: 1rem 0rem;
    cursor: pointer;
    transition: all 0.2s;
}
.contact-me:hover{
    background-color: black;
}
.updown{
    animation: upDown 1.8s infinite;
    width: 1rem;
    height: fit-content;
}
.updown svg{
    height: 2rem;
}
.profile-img-container{
    width: 26rem;
    height: 66vh;
}
.profile-img {
    position: relative;
    z-index: 10;
    border-radius: 29%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-position-x: 32px;
    background-position-y: 12px;
    background-image: url('../../images/background_2.JPG');
}
.instagram_square, .mail_square,.linkedin_square,.github_square{
    transition: all 0.3s; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    cursor: pointer;
    color: white;
    animation-fill-mode: forwards;
}
.instagram_square{
    top: 10%;
    right: 12%;
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
    border-radius: 40%;
    background-color: #d76464;
}
.mail_square{
    top: 67%;
    right: 39%;
    width: 8.5rem;
    height: 8.5rem;
    font-size: 2.4rem;
    border-radius: 30%;
    background-color: #f2ee76;
    color: #7a381a;
}
.linkedin_square{
    top: 18%;
    right: 42%;
    width: 10rem;
    height: 10rem;
    background-color: #8CABFF;
    color: #28256f;
    font-size: 3rem;
    transform: rotate(-30deg);
    border-radius: 30%;
}
.github_square{
    top: 62%;
    right: 6%;
    width: 10rem;
    height: 10rem;
    background-color: #A6FF96;
    color: #004225;
    font-size: 3rem;
    transform: rotate(20deg);
    border-radius: 40%;
}
.instagram_square:hover,.mail_square:hover,.linkedin_square:hover,.github_square:hover{
    background-color:#15142f;
    color: white;
}


/*------------------projects---------------------- */
.project {
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}
      
.project h2 {
    margin: 0;
}


@keyframes come_in_front_i {
    25%{
        width: 7.4rem;
        height: 7.4rem;
    }
    50% {
        width: 6rem;
        height: 6rem;
        right: 0%;
    }
    100%{
        z-index: 11;
        top: 16%;
        right: 14%;
        width: 5rem;
        height: 5rem;
    }
}
@keyframes go_back_inplace_i {
    0%{
        z-index: 11;
        top: 16%;
        right: 14%;
        width: 5rem;
        height: 5rem;
    }
    50%{
        width: 6rem;
        height: 6rem;
        right: 0%;
    }
}


@keyframes come_in_front_m {
    25%{
        width: 7.4rem;
        height: 7.4rem;
        top: 70%;
        right: 47%;
    }
    50% {
        width: 6rem;
        height: 6rem;
        right: 52%;
        top: 74%;
        z-index: 11;
    }
    100%{
        z-index: 11;
        width: 5rem;
        height: 5rem;
        top: 60%;
        right: 46%;
    }
}
@keyframes go_back_inplace_m {
    0%{
        z-index: 11;
        width: 5rem;
        height: 5rem;
        top: 60%;
        right: 46%;
    }
    50% {
        z-index: 11;
        width: 6rem;
        height: 6rem;
        right: 52%;
        top: 74%;
    }
    100%{
        z-index: -1;
        top: 67%;
        right: 39%;
        width: 8.5rem;
        height: 8.5rem;
    }
}


@keyframes come_in_front_l {
    25%{
        width: 8.5rem;
        height: 8.5rem;
        right: 46%;
    }
    50% {
        width: 7.5rem;
        height: 7.5rem;
        top: 6%;
        right: 48%;
        z-index: 11;
        transform: rotate(-10deg);
    }
    100%{
        z-index: 11;
        top: 28%;
        right: 44%;
        width: 5.5rem;
        height: 5.5rem;
        transform: rotate(0deg);
        font-size: 2.4rem;
    }
}
@keyframes go_back_inplace_l{
    0%{
        z-index: 11;
        top: 28%;
        right: 44%;
        width: 5.5rem;
        height: 5.5rem;
        transform: rotate(0deg);
        font-size: 2.4rem;
    }
    50% {
        width: 7.5rem;
        height: 7.5rem;
        top: 6%;
        right: 48%;
        z-index: 11;
        transform: rotate(-10deg);
    }
    100%{
        z-index: -1;
        top: 18%;
        right: 42%;
        width: 10rem;
        height: 10rem;
        transform: rotate(-30deg);
    }
}


@keyframes come_in_front_g {
    25%{
        top: 65%;
        width: 8.5rem;
        height: 8.5rem;
    }
    50% {
        width: 7.5rem;
        height: 7.5rem;
        right: -3%;
        z-index: 11;
        transform: rotate(10deg);
    }
    100%{
        z-index: 11;
        top: 48%;
        right: 6%;
        width: 5.6rem;
        height: 5.6rem;
        transform: rotate(0deg);
        font-size: 2.4rem;
    }
}
@keyframes go_back_inplace_g{
    0%{
        z-index: 11;
        top: 48%;
        right: 6%;
        width: 5.6rem;
        height: 5.6rem;
        transform: rotate(0deg);
        font-size: 2.4rem;
    }
    50% {
        right: -3%;
        top: 55%;
        width: 7.5rem;
        height: 7.5rem;
        z-index: 11;
        transform: rotate(20deg);
    }
    100%{
        z-index: -1;
        top: 62%;
        right: 6%;
        width: 10rem;
        height: 10rem;
    }
}

@keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}